

.container {
  border: 1px solid black;
  width: 535px;
  min-height: 300px;
  margin: 50px auto;
}

.box {
  background-color: white;
  border: 1px solid #7AC5CD;
  width: 515px;
  min-height: 280px;
  margin: 5px auto;
}

.banner {
  text-decoration: none;
  height: 20pt;
  background-color: #7AC5CD;
  font-size: 16pt;
  
}
#S1 {
  text-decoration: none;
  color: white;
}

#S2 {
text-decoration: none;
  color: white;
}

#S3 {
text-decoration: none;
  color: white;

}
p {
    transition: all 1s;
    height: 80px;
    padding: 15px;

}

.show {
    overflow: hidden;
}
.hide {
    overflow: hidden;
}

