

.accordian {
  width: 400px;
  margin: 25px auto;
  
  section {
    border: 1px solid #3fc6d1;
    height: 175px;
    overflow: hidden;
    transition: height 0.7s ease-in-out;
    
    &.hidden { 
      height: 43px;
    }
    
    h2 {
      background-color: #00c6d6;
      color: white;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: normal;
      margin: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      
      &:hover { 
        background-color: #00daec;
        padding-left: 30px;
      }
    }        
    
    p {
      padding: 10px 20px;
      font-size: 13px;
    }
    
  }      
  
}

